body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

.button:hover{
background-color:palevioletred;
color:rebeccapurple
}


nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav-link:hover{
    color:plum;
    font-size:30px
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

h1::before{
    content: url(https://a.deviantart.net/avatars/k/a/katy-a.png?13);
    display: inline-block;
    width: 10px;
    height: 10px;
}

h1::after{
    content: url(https://a.deviantart.net/avatars/k/a/katy-a.png?13);
    display: inline-block;
    width: 10px;
    height: 10px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.article-but:hover{
background-color: palevioletred;
color: rgb(60, 6, 160);
font-size: 28px;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}

.soc{
    position: fixed;
    right: 0;
    top: 40%;
    background-color: #7a07d1;
    color: white;
    padding: 15px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
}

.soc a{
    margin-bottom: 10px;
}

.sale{
    position:absolute;
    top: 0;
    right: 0;
    width: 150px;
}
.address::before{
    content: url(https://avatars.mds.yandex.net/i?id=2a0000017a039af68f05b5092c580ab2250c-4145587-images-thumbs&n=13);
}

.tel::before{
    content: url(https://static.wixstatic.com/media/91e0f6_cdd3cd6d6579431190301f427a0a0a77~mv2.png/v1/fill/w_36,h_36,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1.png);
}
    
